
.course-list {
  display: grid;

}

.landing-card {
  width: 700px;
  height: 180px;
  margin: 0 auto;
  background: #4286f4;
}
.landAnimate > * {
  font-size: 20px;
  margin-top: 20px;

}
.card-1 {

}
.card-2 {

}
.card-3 {

}
