.page-header-right{
    right: 14px;
    top: 12px;
    position: absolute;
}
.search-wrap{
    margin-bottom: 20px;
    .form-group{
        margin-right: 10px;
    }
}
.opear{
    margin-right: 5px;
    cursor: pointer;
}
.navbar-header{
	position: relative;
	span{
		position: absolute;
		bottom: 5px;
		right: 8px;
		color: white;
		font-size: 14px;
	}
}
